# no mac DS_Store
*.DS_Store

# no database file
db.sqlite3

# no pycache file
#BeaverGo/__pycache__/
#accounts/__pycache__/
#accounts/migrations/
#accounts/__pycache__/
#loggin/migrations/
#mainapp/migrations/
#mainapp/__pycache__/
