{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="/">BeaverGo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<img class="mb-0" src="https://raw.githubusercontent.com/jshota/BeaverGo/dev/logo.png" alt="" width="50" height="50">
		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<div>
					<font color="#FDF370">Hi {{ user.first_name }}!&nbsp;&nbsp;</font>
					<a href="{% url 'profile_view' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">View Profile</button></a>
					<a href="{% url 'logout' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Log Out</button></a>
				</div>
			</form>
		</div>
	</nav>
	<form method="post">
		{% csrf_token %}
		<div style="padding-top: 5rem; padding-left: 1rem">
			<div class="form-row align-items-center">
				<div class="col-auto my-1">
					<label class="mr-sm-2" for="carModel">Car Model</label>
					<select class="custom-select mr-sm-2" id="carModel" name = 'carModel'>
						<option selected>Choose...</option>
						<option value="Toyota">Toyota</option>
						<option value="Benz">Benz</option>
						<option value="BMW">BMW</option>
						<option value="Audi">Audi</option>
						<option value="Honda">Honda</option>
						<option value="Mitsubishi">Mitsubishi</option>
					</select>
				</div>
			</div>
			Select Reservation Time:<br>
			<input type="datetime-local" id="reservation_time" label = 'reservation_time'
			name="reservation_time" value="2019-12-7T19:30"
			min="2019-12-7T00:00" max="2080-12-31T23:59">
			<br><br>
			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Next</button>
		</div>
	</form>
{% endblock %}