<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>BeaverGo - Driver Signup Page</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">{{ home }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/signup" style="padding-left: 35rem; color: white">{{ title }}</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email">
                    <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Password">
                    <div>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</button>
                    </div>
                </form>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container" style="padding-top: 3rem">
                <h1 class="display-3">Signing up as a Driver</h1>
                <p>Driver is to drive a car which provider's rent.</p>
            </div>
        </div>
        <!-- Example row of columns -->
        <div class="col-md-10" style="padding-left: 25rem">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="Username" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Your username is required.
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Please enter a valid email address for shipping updates.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>
                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">Country</label>
                        <select class="custom-select d-block w-100" id="country" required>
                            <option value="">Choose...</option>
                            <option>United States</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid country.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="state">State</label>
                        <select class="custom-select d-block w-100" id="state" required>
                            <option value="">Choose...</option>
                            <option>Oregon</option>
                        </select>
                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="phonenumber">Phone Number</label>
                        <input type="text" class="form-control" id="phonenumber" placeholder="541-XXX-XXXX" required>
                        <div class="invalid-feedback">
                            Phone Number is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="bankaccount">Bank Account Number</label>
                        <input type="text" class="form-control" id="bankacnum" placeholder="" required>
                        <div class="invalid-feedback">
                            Bank Account Number is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="routingnumber">Routing Number</label>
                        <input type="text" class="form-control" id="routingnumber" placeholder="" required>
                        <div class="invalid-feedback">
                            Routing Number is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="ssn">SSN</label>
                        <input type="text" class="form-control" id="ssn" placeholder="" required>
                        <div class="invalid-feedback">
                            SSN is required.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="licenceplate">Licence Plate</label>
                        <input type="text" class="form-control" id="licenceplate" placeholder="" required>
                        <div class="invalid-feedback">
                            Licence Plate is required.
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <a href="/"><button class="btn btn-secondary btn-lg btn-block" type="button" >Cancel</button></a>
                    </div>
                    <div class="col-md-8">
                    </div>
                    {% csrf_token %}
                    <button class="btn btn-success btn-lg btn-block col-md-2 mb-1" type="submit" >Continue to signup</button>
                    <div class="col-md-8 mb-3">
                    </div>
                    <div class="col-md-8 mb-3">
                    </div>
                    <hr>
                </div>
                <!-- /container -->
            </body>
        </html>