{% extends 'base.html' %}
{% block title %}BeaverGo{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">BeaverGo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<img class="mb-0" src="https://raw.githubusercontent.com/jshota/BeaverGo/dev/logo.png" alt="" width="50" height="50">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<div>
						<font color="#FDF370">Hi {{ user.first_name }}!&nbsp;&nbsp;</font>
						<a href="{% url 'profile_view' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">View Profile</button></a>
						<a href="{% url 'logout' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Log Out</button></a>
						<a href="{% url 'new_trips' %}"><button class="btn btn-outline-warning my-2 my-sm-0" type="button">New_Trip</button></a>
					</div>
				</form>
			</div>
		</nav>
		
	{% else %}
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">BeaverGo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<img class="mb-0" src="https://raw.githubusercontent.com/jshota/BeaverGo/dev/logo.png" alt="" width="50" height="50">
			<span class="navbar-toggler-icon"></span>
			</button>
			<img class="mb-0" src="https://raw.githubusercontent.com/jshota/BeaverGo/dev/logo.png" alt="" width="50" height="50">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<div>
						<a href="{% url 'login' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">Login</button></a>
						<a href="{% url 'signup' %}"><button class="btn btn-outline-primary my-2 my-sm-0" type="button">Sign Up</button></a>
					</div>
				</form>
			</div>
		</nav>
		<!-- <p style="padding-top: 4rem">You are not logged in</p> -->
	{% endif %}
	<main role="main">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container" style="padding-top: 3.5rem">
				<h1 class="display-3">Welcome to BeaverGo</h1>
				<p>This is a platform provided for people who wants to provide their car earning money while they don't need their cars.</p>
				<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
			</div>
		</div>
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Provider</h2>
					<p>Provide own cars for those who need cars.
					</p>
				</div>
				<div class="col-md-4">
					<h2>Passenger</h2>
					<p>Choice cars to go anyplace you want.
					</p>
				</div>
				<div class="col-md-4">
					<h2>Driver</h2>
					<p>Without auto-pilot function, providers should also be a driver.
					</p>
				</div>
			</div>
			<hr>
		</div>
		<!-- /container -->
	</main>
{% endblock %}
