<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>BeaverGo - SignUp Page</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/jumbotron/" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">{{ home }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/signup" style="padding-left: 35rem;
							color: white">{{ title }}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email" />
                <input class="form-control mr-sm-2" type="text" placeholder="Password" aria-label="Password" />
                <div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
						Log In
					</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="jumbotron" align="center">
        <div class="container" style="padding-top: 3.5rem">
            <h1 class="display-3">Thank you for choosing us</h1>
            <p>
                We provide three kinds of custormer to join our system. Please select one type to continue.
            </p>
        </div>
    </div>
    <!-- Example row of columns -->
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#55595c" />
							<text x="50%" y="50%" fill="#eceeef" dy=".3em">Provider</text>
						</svg>
                        <div class="card-body">
                            <p class="card-text"> Provider is to privider your car(s) to us, and your car(s) will become a texi working for you. </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div>
                                        <a href="provider"><button type="button" class="btn btn-sm btn-outline-primary" href="/ provider"> Select </button></a>
                                    </div>
                                </div>
                                <div class="btn-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> View Detail </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
							<title>Placeholder</title>
							<rect width="100%" height="100%" fill="#55595c" />
							<text x="50%" y="50%" fill="#eceeef" dy=".3em">Passenger</text>
						</svg>
                        <div class="card-body">
                            <p class="card-text">Passenger is a to have a car picked you up to somewhere else. <br/><br/></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div>
                                        <a href="/passenger"><button type="button" class="btn btn-sm btn-outline-primary"> Select </button></a>
                                    </div>
                                </div>
                                <div class="btn-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> View Detail </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
							<title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
							<text x="50%" y="50%" fill="#eceeef" dy=".3em">Driver</text>
						</svg>
                        <div class="card-body">
                            <p class="card-text"> Driver is to drive a car which provider's rent. <br /><br /> </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <div>
                                        <a href="/driver"><button type="button" class="btn btn-sm btn-outline-primary"> Select </button></a>
                                    </div>
                                </div>
                                <div class="btn-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"> View Detail </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <!-- /container -->
</body>

</html>