{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% load widget_tweaks %}
    <p>
    {% render_field form.username placeholder=form.username.label%}
    {{ form.username.errors }}
    </p>
    <p>
    {% render_field form.password1 placeholder=form.password1.label%}
    {{ form.password1.errors }}
    </p>
    <p>
    {% render_field form.password2 placeholder=form.password2.label%}
    {{ form.password2.errors }}
    </p>
    <p>
    {% render_field form.email placeholder=form.email.label%}
    {{ form.email.errors }}
    </p>
    <p>
    {% render_field form.ssn placeholder=form.ssn.label%}
    {{ form.ssn.errors }}
    </p>
    <p>
    {% render_field form.image placeholder=form.profile_image.label%}
    {{ form.email.errors }}
    </p>

</p>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign up</button>
  </form>
{% endblock %}

